<div style="text-align:right;">
    <a href="/">Clear Filter</a>
</div>
<div class="md-form mb-3 input-group w-100">
    <input class="form-control searchbox" type="search" id="pokedexSearch" [(ngModel)]="pokeDexSearch" aria-label="Search" placeholder="Search Pokedex" mdbInput>
</div>
<div class="list-group">
    <a class="list-group-item list-group-item-action" 
         *ngFor="let pokemon of pokemons | pokedexfilter:pokeDexSearch"
         [routerLink]="['/pokemons', pokemon.id]">
         {{ pokemon.name }}
         <img [src]="pokemon.imageurl" height=50px; width=50px; />
    </a>
</div>