
<div class="justify-content-center" style="text-align:center; color:white;">
    <div>
        <span>Effort Type: </span><select #statList>
            <option>HP</option>
            <option>Attack</option>
            <option>Defense</option>
            <option>Speed</option>
            <option>Special Attack</option>
            <option>Special Defense</option>
        </select>
    </div>
    <br />
    <div>
        <span>Select Game: </span>
        <select>
            <option *ngFor="let game of GAMELIST">
                {{game.Version}} - {{game.Region}}
            </option>
        </select>
    </div>
</div>
<div class="justify-content-center" style="text-align:center; color:white; margin-top:15px;">
    <button (click)="onExecuteClick()" class="btn btn-secondary">Execute</button>
</div>
<div style="margin-top:30px;">
    <div class="list-group">
        <a class="list-group-item list-group-item-action"
         *ngFor="let pokemon of list">{{pokemon.name}} -- {{pokemon.evs}}: {{pokemon.ev}}</a>
    </div>
</div>

